dark-grey = rgb(34,34,34)
light-grey = rgb(221,221,221)
blue = rgb(53,91,124)
dark-blue = rgb(25,36,46)

fontsize($sizevalue = 2)
  font-size $sizevalue * 16 px
  font-size $sizevalue * 1 rem

@import "css-reset"

html
body
  overflow-x hidden

body
  background-color dark-grey
  color light-grey
  font-family "Myriad Pro", sans-serif

#page
  width 90%
  margin 0 auto
  #wrapper
    overflow hidden
    margin 0 -9999em
    /* add back negative margin value */
    padding 0 9999em
    text-align center
    div:nth-child(even)
      background-color light-grey
      color dark-grey
      overflow hidden
      margin 0 -9999em
      /* add back negative margin value */
      padding 0 9999em
    .section-title
      fontsize(2.25)
      padding .5em 0

// header
#masthead
  background-color dark-blue
  overflow hidden
  margin 0 -9999em
  /* add back negative margin value */
  padding 0 9999em
  height 5em
  display table
  width 100%
  #site-navigation
  h2
    width 50%
    display table-cell
    vertical-align middle
    fontsize(2.25)
    a:link
    a:visited
      color light-grey
      text-decoration none
  #site-navigation
    text-align right
    fontsize(1.25)
    li
      display inline
      padding-right 1em
    li:last-child
      padding 0

// front
.front
  h1
    fontsize(3.25)
  h2
    fontsize(2.25)
  .section-title
    display none
  img
    border-radius 50%
// work
.portfolio
  li
    display inline-block
    width 50%
    float left

// about
.about
  p
    text-align left
    width 75%
    margin 0 auto
    line-height 2
  a:link
  a:visited
    color light-grey
    text-decoration none
  a:hover
    border-bottom 1px solid light-grey

// contact
form
  label
  input
  textarea
    width 100%
  label
  input
  textarea
    float left
    text-align left
  input
  textarea
    border 1px solid dark-grey
    background-color transparent
    color dark-grey
    fontsize(1.75)
    padding .25em
    &:focus
      outline none
  textarea
    resize none
    height 5em
  span
    color red
  label
    padding-bottom .5em
    fontsize(1.25)
  input
  textarea
    margin-bottom 1em
  input[type="submit"]
    width 25%
    text-align center
    float none
