dark-grey = rgb(34,34,34)
light-grey = rgb(221,221,221)
blue = rgb(53,91,124)
dark-blue = rgb(25,36,46)

fontsize($sizevalue = 2)
  font-size $sizevalue * 16 px
  font-size $sizevalue * 1 rem

@import "css-reset"

html
body
  overflow-x hidden

body
  background-color dark-grey
  color light-grey
  font-family "Myriad Pro", sans-serif

#page
  width 90%
  margin 0 auto
  #container
    overflow hidden
    margin 0 -9999em
    /* add back negative margin value */
    padding 0 9999em
    text-align center
    div:nth-child(even)
      background-color light-grey
      color dark-grey
      overflow hidden
      margin 0 -9999em
      /* add back negative margin value */
      padding 0 9999em
    .section-title
      fontsize(2.25)
      padding 1em 0

// header
#masthead
  background-color dark-blue
  overflow hidden
  margin 0 -9999em
  /* add back negative margin value */
  padding 0 9999em
  height 5em
  display table
  width 100%
  #site-navigation
  h2
    width 50%
    display table-cell
    vertical-align middle
    fontsize(2.25)
    a:link
    a:visited
      color light-grey
      text-decoration none
  #site-navigation
    text-align right
    text-transform uppercase
    fontsize(1.25)
    li
      display inline
      padding-right 1em
    li:last-child
      padding 0

// front
  h1
    fontsize(3.25)
// work
.portfolio
  li
    display inline-block
    width 50%
    float left

// about
.about
  p
    text-align left
    width 75%
    margin 0 auto
    line-height 2
  a:link
  a:visited
    color light-grey
    text-decoration none
  a:hover
    border-bottom 1px solid light-grey
