#masthead
  background-color dark-blue
  overflow hidden
  margin 0 -9999em
  /* add back negative margin value */
  padding 0 9999em
  height 5em
  display table
  width 100%
  #site-navigation
  h2
    width 50%
    display table-cell
    vertical-align middle
    a:link
    a:visited
      color light-grey
      text-decoration none
  #site-navigation
    text-align right
    text-transform uppercase
    fontsize(1.25)
    li
      display inline
      padding-right 1em
    li:last-child
      padding 0
  h2
    fontsize(2.25)
